.login_box{
    width: 500px;
    height: 200px;
    transform: translateY(50%);
    padding: 25px;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(153, 148, 148, 0.54);
    border-radius: 15px;
}
.err_msg{
    color: darkblue;
}
textarea{
    resize: none;
}
a:hover{
    text-decoration: none;
}
.user_dp{
   max-width: 100%;
    border-radius: 5px;
}
.friends{
    overflow: hidden;
}
.cred{
    position: absolute;
    top: 0;
    right: 0;
}
.home{
    position: absolute;
    top: 0;
    left: 0;
}
.post_img {
    max-width: 100%;
}
.post{
    margin: 5% 0;
}
.post_txt{
    padding: 5px 10px;
    margin: 10px 0;
}