*{
    margin: 0;
    padding: 0;
}

.err_msg{
    color: darkblue;
}
textarea{
    resize: none;
}
a:hover{
    text-decoration: none;
}
.user_dp{
   width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    text-align: center;
}
.friends{
    overflow: hidden;
}
.cred{
    position: absolute;
    top: 0;
    right: 0;
}
.home{
    position: absolute;
    top: 0;
    left: 0;
}
.post_img {
    max-width: 100%;
}
.post{
    margin: 5% 0;
}
.post_txt{
    padding: 5px 10px;
    margin: 10px 0;
}
.comment_img{
    height: 200px;
}
.menu-img{
    width: 50px;
    height: 50px;
}

/*parallax styling*/
#para-image{
    height: 900px;
    width: 100%;
    position: relative;
    z-index: -1;
}

/*sidebar styling*/

.main_content{
    -webkit-transition: all .5s ease;
}
.menu-toggle{
    display: block;
    text-decoration: none;
    margin-top:20px;
    font-size: 18px;
}
.menu-toggle:hover{
    color: #262626;
    font-size: 19px;
}

.sidebar{
    padding: 20px;
    position: fixed;
    height: 100%;
    width: 10%;
    top: 0;
    left: 0;
    background: #ffffff;
    overflow: hidden;
    -webkit-transform: translate(-100%, 0);
    -webkit-transition: all .5s ease;
}
.sidebar h2{
    padding: 20px 0;
    color:#000000;
    -webkit-transition: all .3s ease;
}
.side-option{
    display: block;
    color: #000000;
    -webkit-transition: all .3s ease;
}
.side-option:hover{
    color: #787878;
}
.badge{
    margin-left: 5px;
}
.homepage{
text-align: right;
    padding-top: 10px;
    height: 100px;

    background: -webkit-linear-gradient(90deg, #7474BF 10%, #348AC7 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #7474BF 10%, #348AC7 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #7474BF 10%, #348AC7 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #7474BF 10%, #348AC7 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #7474BF 10%, #348AC7 90%); /* W3C */
}
.login{
    padding-top: 20px;
}
.register{
    padding: 20px 0;
    transform: translateY(15%);
}
.content{
    background: url("../img/Wallpaper%20(5).jpg") 50% 100%;
    background-size: cover;
    height: 100%;
}
.content input{
    border:0;
}
footer{
    height: 100px;
    background: -webkit-linear-gradient(90deg, #7474BF 10%, #348AC7 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #7474BF 10%, #348AC7 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #7474BF 10%, #348AC7 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #7474BF 10%, #348AC7 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #7474BF 10%, #348AC7 90%); /* W3C */
}
#logo{
    width: 64px;
    height: 64px;
}
#hi{
    font-size: 15px;
}
.register input{
    background: rgba(255, 255, 255, 0.5);
    color: #000000;
}

/*upload button styling*/
.fileupload{
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileupload input.upload{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/*post user dp*/
.post_dp{
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 50%;
    object-fit: cover;
}
.prev_posts{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    -webkit-transition: all .3s ease;
}
.prev_posts:hover{
    color: #1249a7;
    -webkit-transition: all .3s ease;
}